<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
</head>
<body style="margin: 0px; padding: 0px; background-color: #f3f3f3; ">
<div class="main" style="width: 60%; max-width: 728px; margin: 0 auto; display: block;">
    <img src="https://i.imgur.com/4T3YrZw.png" class="img-banner" style="width: 100%; display: block;">
    <div class="content" style="background-color: #fff; padding: 24px;">
        <p>Hola <strong th:text="${nombre}">  </strong> <strong th:text="${apellido}">  </strong></p>
        <p>Gracias por ponerte en contacto conmigo, estoy leyendo tus consultas y espero pronto poder responderte.</p>

        <p>Espero poder ayudarte lo mejor posible </p>

        <p>Saludos, <br><strong>Fabrizio</strong></p>
    </div>
</div>
<p style="text-align:center; font-size:10px; margin-top:50px;"><span>Esta es una cuenta de correo no monitoreada. Su contenido es un mensaje automático generado por nuestro sistema. Por favor no responda a este correo. Si desea comunicarse con nosotros, responda a <a
        href="mailto:soporte@fabriziodev.ar">soporte@fabriziodev.ar</a></span></p>
</body>
</html>