<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin: 0px; padding: 0px; background-color: #f3f3f3; ">
<div class="main" style="width: 60%; max-width: 728px; margin: 0 auto; display: block;">
    <img src="https://i.imgur.com/4T3YrZw.png" class="img-banner" style="width: 100%; display: block;">
    <div class="content" style="background-color: #fff; padding: 24px;">
        <p>Hola <strong th:text="${nombre}"></strong> <strong th:text="${apellido}"></strong></p>
        <p>Gracias por verificar la cuenta en mi portfolio web, ahora vas a poder ingresar a tu cuenta para poder descargar mi cv. Para ello necesitas los siguientes datos ingresar:

            <br>
            <br>
            <br>
            <span>Su direccion de correo: <span th:text="${email}"></span> o su nombre de usuario: <span th:text="${userName}"></span></span>
            <br> Y su contraseña que haya elegido.
        </p>


        <p>Si quieres ingresar a su cuenta haga clic en el siguiente botón:
        <div class="center">
            <p><a th:href="@{${url}}" style="cursor: pointer;"><button style="cursor: pointer; border: 0px; background-color: #9C9C9C; display: inline-block; color: #fff; padding: 12px; border-radius: 8px; text-decoration: none;"> Iniciar sesión</button></a></p>
        </div>
        <p>Si el botón anterior no le funciona, copie y pegue la siguiente url en su navegador:<br>
            <a th:href="@{${url}}" target="_blank"  th:text="${url}" style="text-decoration: none;"></a></br>
        <p></p>
    </div>
</div>
<p style="text-align:center; font-size:10px; margin-top:50px;"><span>Esta es una cuenta de correo no monitoreada. Su contenido es un mensaje automático generado por nuestro sistema. Por favor no responda a este correo. Si desea comunicarse con nosotros, responda a <a
        href="mailto:soporte@fabriziodev.ar">soporte@fabriziodev.ar</a></span></p>
</body>
</html>